@font-face {
    font-family: 'SF Collegiate Solid';
    src: url('../Fonts/SF_Collegiate_Solid.ttf') format('truetype');
}

body {
    font-family: 'SF Collegiate Solid', sans-serif;
}

.ellipsis-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo:hover{
    filter: brightness(120%);
    cursor: pointer;
}

.notification-text {
    display: inline-block;
    max-width: 60%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.notification-text::after {
    content: attr(data-tooltip); 
    position: absolute;
    background-color: #333; 
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease, transform 0.3s ease;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%); 
}

.notification-text::before {
    content: '';
    position: absolute;
    bottom: 93%;
    left: 47%;
    rotate: 180deg;
    transform: translateX(-50%);
    border-width: 8px; 
    border-style: solid;
    border-color: transparent transparent #333 transparent; 
    opacity: 0;
    transition: opacity 0.2s ease;
}

.notification-text:hover::after,
.notification-text:hover::before {
    opacity: 1; 
    transform: translateX(-50%) translateY(-10%); 
}

.input-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.close-btn {
    float: right;
}

.close-icon{
    transition: transform .2s;
    cursor: pointer;
}

.close-icon:hover{
    transform: scale(1.5);
}

.to-do-placeholder{
    opacity: 50%;
}

.todo-list>li .text{
    font-weight: 100;
    min-width: 80%;
    max-width: 80%;
}

.todo-list>li {
    border-radius: 2px;
    background-color: #f8f9fa;
    border-left: 2px solid #e9ecef;
    display: flex;
    align-items: center;
    color: #495057;
    margin-bottom: 2px;
    padding: 10px;
}

.todo-list>li:hover .tools{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.todo-list .handle{
    white-space: nowrap;
}


